* {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(30,30,30);
}

#title {
  position: absolute;
  color: white;
  font-size: 30px;
  transform: translate(-50%, -50%);
  top: 10vh;
  left: 50vw;
}

#test {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  top: 50vh;
  background-color: red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
